<footer class="row">
  <div class="col-8">
    <ul class="menu d-flex">
      <li>
        <a href="https://instagram.com/inkedloft" target="_blank">
          All Photos
        </a>
      </li>

      <li>
        <a href="https://instagram.com/inkedloft" target="_blank">
          Portfolio
        </a>
      </li>
    </ul>
  </div>

  <div class="col-4">
    <ul class="menu menu_social d-flex justify-content-end">
      <li>
        <a class="socicon-facebook" href="" target="_blank"></a>
      </li>

      <li>
        <a
          class="socicon-instagram"
          href="https://instagram.com/inkedloft"
          target="_blank"
        ></a>
      </li>
    </ul>
  </div>
</footer>
