<div class="container">
  <app-header></app-header>

  <section class="promo">
    <div class="content row">
      <div class="promo__big col-sm-12 col-lg-6">
        <img [src]="'/assets/images/tables/sea_depth2.jpg'" alt="" />
      </div>

      <div class="promo__small col-sm-12 col-lg-6">
        <img [src]="'/assets/images/tables/ffff.jpg'" alt="" />
        <img [src]="'/assets/images/tables/dddd.jpg'" alt="" />
      </div>
    </div>
  </section>

  <section class="goods">
    <h2 class="title">Журнальні столи</h2>

    <div class="content row">
      <swiper-container
        navigation="true"
        slides-per-view="3"
        speed="500"
        loop="true"
        css-mode="true"
      >
        <swiper-slide *ngFor="let good of coffeeTables">
          <app-good [good]="good" class="col-sm-12 col-md-6 col-lg-3">
          </app-good>
        </swiper-slide>
      </swiper-container>
    </div>
  </section>

  <section class="goods">
    <h2 class="title">Кухонні столи</h2>

    <div class="content row">
      <swiper-container
        navigation="true"
        slides-per-view="3"
        speed="500"
        loop="true"
        css-mode="true"
      >
        <swiper-slide *ngFor="let good of kitchenTables">
          <app-good [good]="good" class="col-sm-12 col-md-6 col-lg-3">
          </app-good>
        </swiper-slide>
      </swiper-container>
    </div>
  </section>

<!--  <section class="goods">-->
<!--    <h2 class="title">Опори до столів</h2>-->

<!--    <div class="content row">-->
<!--      <swiper-container-->
<!--        navigation="true"-->
<!--        slides-per-view="3"-->
<!--        speed="500"-->
<!--        loop="true"-->
<!--        css-mode="true"-->
<!--      >-->
<!--        <swiper-slide *ngFor="let good of goods">-->
<!--          <app-good [good]="good" class="col-sm-12 col-md-6 col-lg-3">-->
<!--          </app-good>-->
<!--        </swiper-slide>-->
<!--      </swiper-container>-->
<!--    </div>-->
<!--  </section>-->

  <section class="goods">
    <h2 class="title">Опори</h2>

    <div class="content row">
      <swiper-container
        navigation="true"
        slides-per-view="3"
        speed="500"
        loop="true"
        css-mode="true"
      >
        <swiper-slide *ngFor="let good of coffeeTables">
          <app-good [good]="good" class="col-sm-12 col-md-6 col-lg-3">
          </app-good>
        </swiper-slide>
      </swiper-container>
    </div>
  </section>

  <section>
    <h2 class="title">Команда</h2>

    <section class="promo">
      <div class="content row">
        <div class="promo__big col-sm-12 col-lg-6">
          <img [src]="'/assets/images/tables/1big.png'" alt="" />
        </div>

        <div class="promo__small col-sm-12 col-lg-6">
          <img [src]="'/assets/images/tables/2small.png'" alt="" />
          <img [src]="'/assets/images/tables/3small.png'" alt="" />
        </div>
      </div>
    </section>

    <div class="content row">
      <div class="col-12">
        <div class="quote d-flex flex-column col-sm-12 col-lg-5">
          <p class="quote__text">
            Я Енотік полоскун, полоскаю свой пісюн
          </p>

          <img
            class="quote__signature align-self-end"
            src="assets/images/signature.png"
          />
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
