<div class="container">
  <app-header></app-header>

  <section class="promo">
    <div class="content row">
      <div class="promo__big col-sm-12 col-lg-6">
        <img [src]="'/assets/images/tables/sea_depth2.jpg'" alt="" />
      </div>

      <div class="promo__small col-sm-12 col-lg-6">
        <img [src]="'/assets/images/tables/ffff.jpg'" alt="" />
        <img [src]="'/assets/images/tables/dddd.jpg'" alt="" />
      </div>
    </div>
  </section>

  <section class="goods">
    <h2 class="title">Shop</h2>

    <div class="content row">
      <app-good *ngFor="let good of goods" [good]="good" class="col-sm-12 col-md-6 col-lg-3">
      </app-good>
    </div>
  </section>

  <section>
    <h2 class="title">Team</h2>


    <section class="promo">
      <div class="content row">
        <div class="promo__big col-sm-12 col-lg-6">
          <img [src]="'/assets/images/tables/1big.png'" alt="" />
        </div>

        <div class="promo__small col-sm-12 col-lg-6">
          <img [src]="'/assets/images/tables/2small.png'" alt="" />
          <img [src]="'/assets/images/tables/3small.png'" alt="" />
        </div>
      </div>
    </section>

    <div class="content row">
      <div class="col-12">
        <div class="quote d-flex flex-column col-5">
          <p class="quote__text">
            Welcome to our world of exquisite craftsmanship. We blend artistry
            with nature, creating unique pieces that transcend functionality.
            Maked magic since 2020.
          </p>

          <img
            class="quote__signature align-self-end"
            src="assets/images/signature.png"
          />
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
