@import "bootstrap/scss/bootstrap-grid";
@import "socicon/css/socicon";

*,
html,
body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  color: #000000;
  font-size: 16px;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #000000;

  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: transparent;

  text-decoration: none;

  transition: color .25s, border-color .25s;

  &:hover {
    color: #00000055;

    border-color: #00000035;
  }
}

ul,
ol {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;

  object-fit: contain;

  display: block;
}
