
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();



@import "bootstrap/scss/bootstrap-grid";
@import "socicon/css/socicon";

*,
html,
body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  color: #000000;
  font-size: 16px;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #000000;

  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: transparent;

  text-decoration: none;

  transition: color .25s, border-color .25s;

  &:hover {
    color: #00000055;

    border-color: #00000035;
  }
}

ul,
ol {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;

  object-fit: contain;

  display: block;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
